<ion-header>
  <ion-toolbar>
    <ion-title>Mis Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-list *ngIf="productos.length > 0; else noProductos">
    <ion-item *ngFor="let producto of productos" [routerLink]="['/vendedor/producto', producto.id]">
      <ion-thumbnail slot="start">
        <img [src]="producto.imagen || 'assets/default-product.png'" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: ${{ producto.valor }}</p>
        <p>Stock: {{ producto.stock }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para agregar producto -->
  <ion-button expand="full" color="primary" class="ion-margin-top" (click)="irAFormularioNuevo()">
    Agregar Producto
  </ion-button>

  <ng-template #noProductos>
    <div class="ion-padding">
      <h2>No tienes productos registrados</h2>
    </div>
  </ng-template>
</ion-content>