<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comprador/vendedor/:id"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" *ngIf="producto">
    <ion-thumbnail>
      <img [src]="producto.imagen || 'assets/default-product.png'" />
    </ion-thumbnail>
    <h1>{{ producto.nombre }}</h1>
    <p>Descripción: {{ producto.descripcion }}</p>
    <p>Precio: ${{ producto.valor }}</p>
    <p>Stock: {{ producto.stock }}</p>
  </div>
</ion-content>